<h3>Dados do Funcionário</h3>
<input type="text" ng-model="funcionario.nome" placeholder="Nome">
<input type="text" ng-model="funcionario.email" placeholder="Email">
<input type="text" ng-model="funcionario.senha" placeholder="Senha">
<select ng-model="funcionario.perfil">
    <option value="ADMIN">ADMIN</option>
    <option value="RECEPCIONISTA">RECEPCIONISTA</option>
    <option value="TECNICO">TECNICO</option>
</select>
<br>
<br>
<button ng-click="updateFuncionario(funcionario)">Alterar</button>
<br>
<br>
<a href="#/funcionarios">Voltar</a>