<div><input type="text" placeholder="Digite para buscar um cliente" style="width: 300px;"></div>
<br>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereco</th>
            <th>Opções</th>
        </tr>
        <tr ng-repeat="cliente in clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.telefone}}</td>
            <td>{{cliente.endereco}}</td>
            <td><a href="#/alterarcliente/{{cliente.id}}">Alterar</a></td>
        </tr>
    </table>
</div>
<br>
<div>
    <a href="#/novocliente">Novo Cliente</a>
</div>