<div class="jumbotron">
    <h3>Dados do Cliente</h3>
    <form>
        <input type="text" ng-model="cliente.nome" placeholder="Nome">
        <input type="text" ng-model="cliente.email" placeholder="Email">
        <input type="text" ng-model="cliente.telefone" placeholder="Telefone">
        <input type="text" ng-model="cliente.endereco" placeholder="Endereço">
    </form>
    <br>
    <div>
        <button class="btn btn-success" ng-click="insertCliente(cliente)">Adicionar</button>
        <a class="btn btn-secondary" href="#/clientes">Voltar</a>
    </div>
</div>